<!DOCTYPE html>
<html>
<body>
<h2> Welcome {{name}} </h2>
<p>Click on the link below and confirm your account.</p>
<p>
  <a href='http://localhost:3000/auth/confirm/{{token}}' target='_blank'>Confirm</a>
</p>
</body>
</html>